/* kyc.css */
/* kyc.css */
.unique-navbar {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.unique2-kyc-page {
  width:1470px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


/* Rest of your existing styles */

h2 {
  text-align: center; /* Center the text horizontally */
  position: relative; /* Position the element relative to its normal position */
  top: 50%; /* Move the element down by 50% of its container's height */
  transform: translateY(-50%); /* Center the element vertically */
}

.unique2-form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f9f9f9;
}

.unique2-error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}

button[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* RestaurantHeader Styles - you can customize it separately */
