.adminHeadernav{
  background-color: #000001;
}

.adminLogoutBtn{
  border-radius: 5px;
  border: 1px #1864ab solid;
  margin-top: 15px;
  width: 70px;
  height: 35px;
 background-color: transparent;
  color: rgb(250, 12, 12);
}

