/* Reset some default styles */
body, h1, h2, h3, ul {
  margin: 0;
  padding: 0;
}
/* CSS file */
.transition-image {
  transition: opacity 0.3s; /* Add a smooth transition effect on opacity */
}

.transition-image:hover {
  opacity: 0.7; /* Reduce the opacity when the image is hovered */
}


body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Style the header */
.header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

.header h1 {
  font-size: 2rem;
}

.navbar {
  margin-bottom: 20px;
}

/* Style the main content container */
.container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  padding: 20px;
}

/* Style the main section */
.main-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Style feature cards */
.card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
}

.card i {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #007bff;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card p {
  color: #777;
  font-size: 1rem;
  margin-bottom: 20px;
}

/* Style buttons */
.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Style the footer */
.footer {
  text-align: center;
  margin-top: 20px;
  color: #777;
}
